body{
    background-color: rgb( 128, 128, 128);
}

.tablero{
    width: 332px;
    height: 320px;
    margin: auto;
}

.info{
    width: 332px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones{
    width: 332px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lienzo{
    background-color: white;
    border: 2px solid black;
}